body{
 margin: 0;
 height: 100vh;
 width: 100%;
 display: block;
}
.wrap{
  display: block;
  width: 100%;
  height:100vh;
  background-color:rgb(52, 185, 92);
}
.main-write{
    position:fixed;
    top:0;
    width:100%;
    height:73vh;
    background-image:linear-gradient( to left, rgb(200, 71, 218 ), rgb( 197, 104, 209 ), rgb( 231, 185, 236 ))
}
.down-write{
    z-index: 2;
    position:fixed;
    bottom:0;
    height:27vh;
    width: 100%;
    background-image:linear-gradient( -7deg, rgb(66,39,39,0.493), rgb(82,56,56 ),rgb(54, 41, 41, 0.658),rgb(54,36,36 ), rgb(110,49,49 ), rgb(121,100,100) )
}
/* begin-box */
.box{
    height:121px;
    width:153px;
    background-color:blue;
    margin: -103px 0 13px 146px;
    border-style:solid;
    border-width:2px 2px 119px 4px;
    transform:rotate(-1deg);
    box-shadow:inset 10px 12px 24px 12px;
    border-color:blue;
    border-radius:11px 0 0 0 ;
    display:flex;
    flex-wrap: wrap;
}
.box>img{
    height:47px;
    width:88px;
    margin:-19px;
}
.nap{
    height:121px;
    width:153px;
    background-color: blue;
    z-index:3;
    margin-top:-129px;
    margin-left:296px;
    transform:rotate(-24deg);
    box-shadow: inset 17px 18px 24px 3px;
}
.nap::after{
    content: "";
    position:absolute;
    transform: rotate(90deg);
    height:13px;
    width:123px;
    margin-left:-17%;
    background-color:#46082f;
    margin-top:35.5%;
}
.nap::before{
    content:"";
    position:absolute;
    background-color:#46082f;
    height:155px;
    width:18px;
    transform: rotate(90deg);
    margin-top:-13%;
    margin-left:44%
}
/* begin-text */
.text-main{
 width: 83vh ;
 position:fixed;
 right:68vh;
 display: block;
 height: 50vh;
 text-align: center;
 top:24px;
 color:#fff
}

.text-header{
  display:inline-block;
  padding: 8px;
  background-color:#eb1651;
  border-radius: 12px;
}

.text-body{
   font-size:68px ;
   margin: 0;
   font-weight:900;
   font-family: 'Playball', cursive;
   text-shadow:7px 8px hsl(343, 14%, 54%)
}

.text-footer{
    color:yellow
}

.text-kt{
  font-family: 'Dancing Script', cursive;
  color:aqua;
  position:fixed;
  padding-left: 49vh;
  font-weight: 400px;
  font-size: 24px;
  margin-top: -11px;
}
/* begin-flower */
.flower{
  position: fixed;
  z-index:2;
  right: -144px;
  bottom: 2vh;
}
.flower>img{
    width:110vh
}
/* begin-button */
.wishes{
  display:inline-block;
  z-index:2;

}
.wishes>button{
   margin-left:5vh;
   margin-top: 45vh;
   font-size:25px;
   width: 216px;
   padding:4px;
   border-radius: 250px;
   font-weight:700;
   color:#4723e9ea;
   border-style: solid;
   border-width:2px 9px 15px 0;
   transform: rotate(-19deg);

}
.wishes>button:hover{
    cursor: pointer;
    width:250px;
}
.fly{
  display:block;
  position: fixed;
  margin-top:66px;
  margin-left:68px
}
.fly>img{
   height:140px
}
.rope{
  position: fixed;
   top:20vh;
   left:28vh;
   transform: rotate(16deg);
}
.rope>img{
   height:28vh
}
/* begin-model */
.model-gift{
  display:none;
  top: 0;
  width: 100%;
  position:fixed;
  height:100vh;
  z-index: 4;
  background-color: #36232f91;
}

.model-main{
  animation:faceinmodel ease .6s;
display: block;
  width:75vh;
  height:39vh;
  background-color: rgb(153,13,43);
  margin:30vh auto;
  box-shadow: -3px -1px 12px 12px #32cb99;
}

.model-close{
   height:8px;
   margin-left:512px;
   display:block;
   padding:6px;
   background-color: aqua;
}
.model-close:hover{
    cursor:pointer;
    background-color:#000;
    color:#fff;
}
.ti-close{
    height:8px;
    padding-left:auto;
    display:block;
}

.model-text{
  color:#fff;
  text-align: center;
  margin: 4px;
}

.model-header{
   width:229px;
   margin:auto;
   font-size:28px;
}

.model-body{
    padding:8px;
    display: block;
     /* text-align: right; */
    line-height: 37px;
    font-size:18px;
    width:448px;
    margin-left: 32px;
    margin-bottom:-13px

}

.model-footer{
    line-height: 45px;
    margin-left: 300px;
    font-family: 'Dancing Script', cursive;
}
.model-main>img{
    display:inline-block;
    position:absolute;
    z-index:2;
}
.img1{
    width:291px;
    margin-top:-104px;
    margin-left:-130px;
}

.img2{
    width:195px;
    margin-left:-100px;
    margin-top: 37px;
}

.img3{
    width:195px;
    margin-left:32px;
    margin-top: -88px;
}

.img4{
    width:220px;
    bottom:26%;
    right:26%
}
.open{
    display:block;
}
@keyframes faceinmodel {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.book{
     z-index: 4;

}
.book>img{
    width:610px;
    position: fixed;
    bottom: -19px;
    right: 50vh;
}